body{
	margin: 0;
	min-width: 1159px;
	min-height: 1120px;
	max-height: 1120px;
	position: relative;
	background-color: #FFCC99;
}

div.web_container{
	min-width: 1159px;
	margin: auto;
}


.web_header{
	background-color:#d64f2a;
	color: white;
	max-height:100px ;
}
.conteiner_1,.conteiner_2,.conteiner_3{
	display: inline-block;

}
.conteiner_1{
	width: 10.6%;
	height: 100%;
	margin-left:28.5% ;
   padding-top: 0.94339623%;
   margin-top:  0.94339623%;	
}
.statistics{
	color:#ddd;
	border-bottom: 1px solid #ddd;
	width: 100%;
	font-size: 10px;
	text-align: center;
}
.conteiner1_cash{
	text-align: center;
	font-size:15px;
}
.conteiner_2{
width: 15%;
height:1.88679245%;
margin-left: 10%;
margin-right: 8%;
font-size: 20px;
position: relative;
top: -12px;}

.regestration a{
	background: #FFFFFF;
background: -moz-linear-gradient(top, #FFFFFF 0%, #D2D2D2 49%, #ACACAC 100%);
background: -webkit-linear-gradient(top, #FFFFFF 0%, #D2D2D2 49%, #ACACAC 100%);
background: linear-gradient(to bottom, #FFFFFF 0%, #D2D2D2 49%, #ACACAC 100%);;
border-radius: 30px;
width: 80%;
height: 100%;
text-align: center;
}

.regestration a {
	color:black;
}
.regestration a{
	width: 100%;
	height: 100%;
	border-radius: 30px;
}
 div.adress{
 display: inline-block;
}
div.adress a{
	 text-decoration: none;
}
div.adress a.in{
	color: white;
}

div.conteiner_3{
width: 10%;
position: relative;
padding-bottom: 5px;
}

div.conteiner_3>div{
   position: relative;
	width: 100%;
	top: -13px;
}
div.conteiner_3 img{
	width: 28px;
	height:20px;
	position: absolute;
	left: -29px;
	top: -4px;
}

.sell{
font-size: 16px;
}
nav img{
	width:18.86792445%;
	height:13.8679245%;
	position: relative;
	top: -76px;
	left: 60px;
}
div.aside{
	width: 251px;
	margin-left: 5%;
	position: relative;
	top: -65px;
	background-color: #d64f2a;
	box-shadow: 4px 9px 4px #C75133;
}
div.adv iframe{
	width: 236px;
	height: 400px;
	margin:5px 5px 0 5px;

}

div.main_news a{
	color:black;
}
div.main_news a:hover{
	text-decoration: none;
}
footer.more a{
	margin-left:9%;
}
div.main{
	width: 800px;
	height: 800px;
		position: relative;
	left:355px ;
	bottom: 850px ;
   margin-left: 5%;
}
div.main>h1,div.main>h3{
margin-left: 20%;
}
div.main>h3{
margin-left: 25%;
}
div.main_flexbox{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
div.main_flexbox>div {

	min-width: 100px;
	max-width: 146px;
	padding-top: 3px;
	text-align: center;
	background-color: #d64f2a;
	box-shadow: 4px 6px 4px #C75133;
	margin-bottom: 10px;
}
div.main_flexbox img{
	width: 140px;
	height: 105px;
}

div.main_flexbox p,div.main_flexbox h3{
	margin: 7px;
}
footer.bottom{
	position: relative;
	top: -800px;
	background-color: #FFE5CC;
	font-size: 14px;
	height: 150px;
	padding-top: 70px;
}
span{
	font-weight: bolder;
}

footer div.info{
	width: 30%;
	display: inline-block;
   position: relative;
   top: -40px;
   left: 30px;

}
footer div.info2{
	text-align: justify;
	width: 40%;
	display: inline-block;
}
footer div.info3{
	width: 24.5%;
	display: inline-block;
	position: relative;
	top: -80px;
}

